{{!-- <!doctype html> --}}
<html lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <head>
    <!-- Inicio Imagen Banner--> 
        <div id="banner" class="banner">
            <img src="/img/alejandria.jpg" alt="/img/logo.png">
        </div>
    <!-- Fin Imagen Banner--> 
  </head>
  <body>
     <!-- Inicio Contenido Principal -->
    <main class="bg-home"> 
        <!-- Inicio Noticias -->
        <h2 class="mx-auto titulo-seccion" style="width: 100px;" id="Noticias" >Novedades</h2>

            <section class="seccion-noticias" id="seccion-noticias">

                <article class="noticia">
                    <div class="cabecera-noticia">
                        <img src="/img/ntc1.jfif" alt="TU MUNDO Y EL MIO, Jhon Green">
                        <div class="noticia">
                            <h3 class="titulo-noticia">TU MUNDO Y EL MIO</h3>
                            <h4 class="titulo-noticia">Jhon Green</h4>
                            <p>
                                El Antropoceno es la era geológica actual, una época caracterizada por el profundo impacto que el ser humano está teniendo sobre el planeta. Con su especial sensibilidad para lo extraño, lo importante y lo sorprendente, John Green reúne en esta extraordinaria colección de textos distintas facetas de nuestro presente y las puntúa en una particular escala del uno al cinco. Deteniendo su mirada en temas tan variados como el teclado QWERTY, internet, Super Mario Kart, los susurros, los ositos de peluche o las puestas de sol, sus originales y muy personales hallazgos abren los horizontes de la imaginación mientras nos hablan de las maravillas de lo cotidiano.
                            </p>
                        </div>
                    </div>
                </article>

                <article class="noticia">
                    <div class="cabecera-noticia">
                        <img src="/img/ntc2.jpg" alt="LA VILLA DE LA SEDA, Tabea Bach">
                        <div class="noticia">
                            <h3 class="titulo-noticia">LA VILLA DE LA SEDA</h3>
                            <h4 class="titulo-noticia">Tabea Bach</h4>
                            <p>
                                Angela ha perdido recientemente a su marido y, tras unos meses de duelo y crisis espiritual, decide visitar, en el hermoso Véneto italiano, a la mejor amiga de su madre, la acaudalada anciana Tess. Muy cerca de la fabulosa mansión de Tess, Angela conocerá la llamada “Villa de la seda”, la última fábrica que trabaja la seda de forma artesanal y que está a punto de cerrar por sus malos resultados económicos. Angela, que estudió diseño textil en su juventud, se enamora al instante de la fábrica y de sus telares milenarios, y decide llevar a cabo una locura: comprar la fábrica y reflotar el negocio. 
                            </p>
                        </div>
                    </div>
                </article>

                <article class="noticia">
                    <div class="cabecera-noticia">
                        <img src="/img/ntc3.jpg" alt="ENSAYOS COMPLETOS 2, Edgar Allan Poe">
                        <div class="noticia">
                            <h3 class="titulo-noticia">ENSAYOS COMPLETOS 2</h3>
                            <h4 class="titulo-noticia">Edgar Allan Poe</h4>
                            <p>
                                Más de siglo y medio después de la muerte de Edgar Allan Poe (1809-1849), celebramos la publicación de los Ensayos completos de uno de los mayores cuentistas y, en general, uno de los más importantes escritores de la historia. Lejos de ser la persona atormentada y melancólica que en ocasiones se nos ha presentado, esta edición muestra a un Poe comprometido con la literatura y la estética, así como con la crítica literaria de la obra de sus contemporáneos.
                            </p>
                        </div>
                    </div>
                </article>

                <article class="noticia">
                    <div class="cabecera-noticia">
                        <img src="/img/ntc4.jpg" alt="EL MAESTRO Y MARGARITA, Mijail Bulgakov">
                        <div class="noticia">
                            <h3 class="titulo-noticia">EL MAESTRO Y MARGARITA</h3>
                            <h4 class="titulo-noticia">Mijail Bulgakov</h4>
                            <p>
                                Una tarde de primavera, arrastrando fuego y caos a su paso, el Diablo decide pasearse por Moscú. Así comienza un viaje por el que deambulan personajes históricos junto a otros imaginarios o espantosos, en lo que configura una divertida y devastadora sátira de la vida soviética. Creada durante los días más oscuros del poder estalinista.
                            </p>
                        </div>
                    </div>
                </article>
            </section>
        <!-- Fin Noticias -->

        <!-- Inicio Servicios -->
        <h2 class="mx-auto titulo-seccion" style="width: 100px;" id="Servicios">Servicios</h2>

            <section class="seccion-servicios" id="seccion-servicios">
                <article class="servicio">
                    <img class="imagen-servicio" src="/img/srv1.png" alt="">
                    <h3 class="titulo-servicio">Organización</h3>
                    <p class="texto">
                        Mantenga su inventario de libros organizado y actualizado de manera sencilla y sin necesidad de instalación de sofware, solo necesitará un usuario y podrá acceder al catálogo, alimentarlo y depurarlo a su gusto.
                    </p>
                </article>

                <article class="servicio">
                    <img class="imagen-servicio" src="/img/srv2.png" alt="">
                    <h3>Siempre en Línea</h3>
                    <p class="texto">
                        Nuestra plataforma le garantiza un 100% de tiempo en línea, no habrá necesidad de detener sus operaciones para realizar amntenimientos o ni reparaciones. Trabaje siempre en un ambiente totalmente fluido e intuitivo sin temor a paradas imprevistas.
                    </p>
                </article>

                <article class="servicio">
                    <img class="imagen-servicio" src="/img/srv3.jpg" alt="">
                    <h3 class="titulo-servicio">Soporte</h3>
                    <p class="texto">
                        Contacte a nuestros expertos para informarse de cualquier duda acerca de nuestro servicio o para reportar cualquier anomalía. Nuestro personal se encuentra altamente capacitado para resolver cualquier situación que se pueda presentar.
                    </p>
                </article>

            </section>
        <!-- Fin Servicios -->

        <!-- Inicio Equipo -->
        <h2 class="mx-auto titulo-seccion" style="width: 100px;" id="Equipo">Equipo</h2>

            <section class="seccion-equipo" id="seccion-equipo">
                <article class="integrante">
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairBun&accessoriesType=Prescription02&hairColor=SilverGray&facialHairType=BeardMajestic&facialHairColor=Red&clotheType=CollarSweater&clotheColor=PastelYellow&eyeType=Default&eyebrowType=UpDownNatural&mouthType=Twinkle&skinColor=DarkBrown" alt="">
                    <h2>Juan David <br>Castro Marín</h2>
                    <p class="texto pt-3">
                    Desarrollador en formación.
                    Amante a las bicicletas y rodar en ellas, practicante de danza aérea.
                    </p>
                    <br>
                    <a href="http://www.linkedin.com/in/juandahs">@juandahs</a>
                </article>

                <article class="integrante">
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShaggyMullet&accessoriesType=Prescription01&hairColor=Blue&facialHairType=MoustacheMagnum&facialHairColor=Black&clotheType=BlazerShirt&clotheColor=PastelBlue&eyeType=Cry&eyebrowType=SadConcernedNatural&mouthType=Smile&skinColor=Black" alt="">
                    <h2>Felipe Arturo <br>Bedoya Castro</h2>
                    <p class="texto pt-3">
                    Entusiasta de la impresión 3D. Apasionado por la animación y los videojuegos.
                    </p>
                    <br>
                    <a href="http://www.linkedin.com/in/fabc">@fabc</a>
                </article>

                <article class="integrante">
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairFrida&accessoriesType=Round&facialHairType=BeardMedium&facialHairColor=Platinum&clotheType=BlazerSweater&eyeType=WinkWacky&eyebrowType=UpDownNatural&mouthType=Sad&skinColor=Tanned" alt="">
                    <h2>Integrante 3</h2>
                    <p class="texto">
                    Where does it come from?
                    </p>
                </article>

                <article class="integrante">
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Kurt&hairColor=BlondeGolden&facialHairType=MoustacheFancy&facialHairColor=Auburn&clotheType=ShirtVNeck&clotheColor=PastelYellow&eyeType=Wink&eyebrowType=Angry&mouthType=ScreamOpen&skinColor=Tanned" alt="">
                    <h2>Nelson Julian Tellez</h2>
                    <p class="texto">
                    Diseñador Grafico,  produccion audio visual desarrollador web
                    </p>
                </article>

                <article class="integrante">
                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairDreads&accessoriesType=Sunglasses&hairColor=SilverGray&facialHairType=BeardLight&facialHairColor=Platinum&clotheType=Overall&clotheColor=Pink&eyeType=Squint&eyebrowType=UpDown&mouthType=Disbelief&skinColor=Light" alt="">
                    <h2>Integrante 5</h2>
                    <p class="texto">
                    Where does it come from?
                    </p>
                </article>
            </section>
        <!-- Fin Equipo -->
    </main>
    <!-- Fin Contenido Principal -->

  </body>
</html>